.about {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    justify-content: center;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 100px;
}

.about__h {
    text-align: center;
    margin-bottom: 40px;

    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
}

.about__img {
    max-width: 600px;
    /* height: 596px; */
    flex-shrink: 0;
    
    display: flex;
	flex-direction: row;

    margin-right: 5%;
}

.about__paragraph {
    display: flex;
	flex-direction: row;
}

.about__text {
   padding-top: 50px;
    font-size: 20px;
    font-style: normal;
    line-height: 28px; 
    width: 500px;
    /* height: 222px; */
}

.about__text-2 {
    font-size: 20px;
    font-style: normal;
    /* line-height: 28px;  */
    width: 500px;
    /* height: 222px; */
    padding-top: 5%;
}


.quote__text {
    padding-top: 78px;
    font-size: 44px;
    font-style: normal;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.quote__text-style-mark-1::before {
    content: "“";
    color: #6C0287;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px; 
    text-transform: uppercase;
}

.quote__text-style-mark-2::after {
    content: "”";
    color: #6C0287;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px; 
    text-transform: uppercase;
}

.quote__column-image-ellipse {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-right: 16px;
} 

.quote__column-text-2 {
    display: inline-block;
    width: 25%;
    width: 279.282px;
    white-space: pre-wrap;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    text-transform: none;
}

.quote {
    margin: 0;
}
