.footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 90rem; 
    margin: auto;
    padding-bottom: 6px;
    background: linear-gradient(180.00deg, rgb(27, 26, 27),rgb(55, 10, 55) 100%);

}

.footer__h {
    margin-bottom: 40px;
    text-align: center;

    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    text-transform: uppercase;
}

.footer__contacts {
    display: flex;
    flex-direction: row;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
}

.footer__fl-column {
    display: flex;
    flex-direction: column;
}

.footer__p {
    display: flex;
    width: 360px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 60px;
}
 
.footer__links {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 60px;
}

.footer__media {
    display: flex; 
    flex-direction: row;
}

.footer__contacts-location-icon {
    display: flex;
    flex-direction: row;
    background-image: url(../img/location.svg);
    width: 34.963px;
    height: 32px;
    margin-right: 28px;
    margin-bottom: 51px;
}

.footer__contacts-phone-icon {
    background-image: url(../img/bx_bxs-phone-call.svg);
    width: 34.963px;
    height: 32px;
    margin-right: 28px;
    margin-bottom: 14px;
}

.footer__contacts-mail-icon { 
    background-image: url(../img/envelope.svg);
    width: 34.963px;
    height: 32px;
    margin-right: 28px;
    padding-top: 14px;
}


.footer__media-vk {
    display: inline-block; 
    background-image: url(../img/entypo-social_vk-with-circle.svg);
    width: 50px;
    height: 50px;
    margin-right: 26px;
}

.footer__links:last-of-type{
    /* display: inline-block; */
    margin-bottom: 35px;
}

.footer__media-tg {
    background-image: url(../img/bi_telegram.svg);
    width: 50px;
    height: 50px;
    margin-right: 26px;
}

.footer__media-pin {
    background-image: url(../img/foundation_social-pinterest.svg);
    width: 50px;
    height: 50px;
    margin-right: 26px;
}

.footer__media-smth {
    background-image: url(../img/foundation_social-stumbleupon.svg);
    width: 50px;
    height: 50px;
    margin-right: 26px;
}

.footer__media-link {
    display: flex;
    flex-direction: row;
}

.footer__map {
    display: flex;
    align-self: flex-end;
    margin-bottom: 156px;
}

.footer__game-over {
    display: flex;
    justify-content: space-between;

    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;

    width: 80%;
    margin: 0 auto 6px;
}

.foorer__disigner-mail {
    display: flex;
    justify-content: flex-end;

    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    width: 80%;
    margin: 0 auto;
}

