.section {
    padding-top: 60px;
}

.container {
    width: 80%;
    margin: 0 auto;
    width: 1080px;
}

.intro__title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 30px;
}

.intro__p {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 30px;
}

.section-1{
    padding-bottom: 25px;
}

.container-nav {
    /* width: 80%; */
    display: block;
    margin: 0 auto;
    width: 1140px;

    border-radius: 10px;
    background-color: #F1F1F1;

    padding: 25px 45px; 
    /* margin-bottom: 50px; */
}

.intro__h-2 {
    margin: 0;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.bold {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.italic{
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
}

.intro__list {
    margin: 0;
    padding-top: 20px;
    padding-left: 30px;

    color: #02535F;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.intro__item {
    padding-top: 10px;
}

.intro__item:first-child {
    padding-top: 0;
}

.intro__anchor {
    color: #02535F;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    border-bottom: 1px solid #02535F;

}

/* Отступ задается от предыдущего элемента к следующему */

.container-1 {
    width: 80%;
    margin: 0 auto;

    width: 1080px;
    padding-top: 25px;
}

.block-1__h {
    margin-top: 0;
    margin-bottom: 30px;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.block-1__column-1 {
    margin: 0;
    display: block;
    padding: 0;
    margin-bottom: 30px;
} 

.block-1__pic {
    display: inline-block;
    width: 550px;
}

.block-1__div {
    display: inline-block;
    position: absolute;
    width: 490px;

    padding-left: 30px;
}

.block-1__text {
    margin: 0;
    margin-bottom: 30px;
    /* padding-left: 30px;  */
    
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

.block-1__column-2 {
    display: block;
    margin-bottom: 50px;
}

.block-1__div-2 {
    display: inline-block;
}

.block-1__text-2 {
    margin-top: 0;
    margin-bottom: 30px;
    width: 480px;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.block-1__pic-2 {
    display: inline-block;
    height: 279px;
    padding-left: 30px;
}


/* Отступ задается последнему возможному элементу в DOM-дереве */

.container-2 {
    width: 80%;
    margin: 0 auto 50px;

    width: 1080px;
}

.block-2__h {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; 
}

.block-2__text {
    margin-top: 0;
    margin-bottom: 30px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

.block-2__text-2 {
    margin: 0;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

.block-2__text-before-border {
    margin: 0;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    margin-bottom: 30px;
}

.block-2__text:last-of-type {
    margin-bottom: 30px;
}

.block-2__pic {
    display: block;
    margin: 0 auto 30px;
}

.block-2__border {
    border: 1px solid #000;
    margin-bottom: 30px;
}

.block-2__pic-2 {
    display: block;
    margin: 0 auto;
}

.block-2__text-gray {
    padding-top: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 1020px;
    color: #5E5E5E;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

/* Для последнего элемента группы отступ всегда обнуляется */

.container-3 {
    width: 80%;
    margin: 0 auto 50px;

    width: 1080px;
}

.block-3__h {
    margin-top: 0;
    margin-bottom: 30px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.block-3__text {
    margin: 0;
    margin-bottom: 30px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.block-3__pic {
    display: block;
    margin: 0 auto 30px;
}

.block-3__pic-3 {
    display: block;
    margin: 0 auto;
}

.block-3__pic-4 {
    display: block;
    margin: 0 auto 30px;
}

/* Подытожим */

.footer {
    width: 80%;
    margin: 0 auto;

    width: 1080px;
}

.container-4 {
    border-radius: 10px;
    background-color: #F1F1F1;
    margin-bottom: 50px;
} 

.footer__h {
    margin: 0;
    padding-top: 25px;
    padding-left: 45px;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.footer__item {
    list-style: none;
    margin: 0;
}

.footer__item {
    margin-bottom: 10px;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.footer__item:last-child {
    margin-bottom: 30px;
}

.footer__text {
    margin: 0; 
    padding-left: 45px;
    padding-bottom: 25px;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

