html {
position: relative;
box-sizing: border-box;

}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
position: relative;
overflow-x: hidden;
min-width: 320px;
min-height: 100vh;

font-family: Arial, sans-serif;
font-size: 16px;
font-weight: 400;
}

image {
max-width: 100%;
height: auto;
}

button {
cursor: pointer;
}

a {
color: inherit;
text-decoration: none;
}

ul, ol {
margin: 0;
padding: 0;
}

h1, h2, h3, p, fieldset, figure {
margin: 0;
}

.caption {
    padding-top: 60px;
}

.container {
    width: 80%;
    margin: 0 auto;
    width: 1080px;
}

.caption__title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 30px;
}

.caption__p {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 30px;
}

.intro {
    padding-bottom: 25px;
}

.container-nav {
    display: block;
    margin: 0 auto;
    width: 1140px;

    border-radius: 10px;
    background-color: #F1F1F1;

    padding: 25px 45px; 
}

.intro__h-2 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 

    margin-bottom: 20px;
}

.bold {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.italic{
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
}

.intro__list {
    /* margin-bottom: 20px; */
    padding-left: 30px;

    color: #02535F;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.intro__item {
    margin-bottom: 10px;
}

.intro__item:first-child {
    padding-top: 0;
}

.intro__anchor {
    color: #02535F;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    border-bottom: 1px solid #02535F;
}

/* Отступ задается от предыдущего элемента к следующему */

.paragraph-from-previous {
    padding-top: 25px;
    padding-bottom: 25px;
}

.paragraph-from-previous__h {
    margin-bottom: 30px;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.paragraph-from-previous__column-1 {
    display: block;
    margin-bottom: 30px;
} 

.paragraph-from-previous__pic {
    display: inline-block;
    width: 550px;
}

.paragraph-from-previous__div {
    display: inline-block;
    position: absolute;
    width: 490px;

    padding-left: 30px;
}

.paragraph-from-previous__text {
    margin-bottom: 30px;
    
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

.paragraph-from-previous__column-2 {
    display: block;
    /* margin-bottom: 50px; */
}

.paragraph-from-previous__div-2 {
    display: inline-block;
}

.paragraph-from-previous__text-2 {
    margin-bottom: 30px;
    width: 480px;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.paragraph-from-previous__pic-2 {
    display: inline-block;
    height: 279px;
    padding-left: 30px;
}


/* Отступ задается последнему возможному элементу в DOM-дереве */

.paragraph-to-last {
    padding-bottom: 25px;
    padding-top: 25px;
    
}

.paragraph-to-last__h {
    display: block;
    margin-bottom: 30px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; 
}

.paragraph-to-last__text {
    margin-bottom: 30px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

.paragraph-to-last__text-2 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

.paragraph-to-last__text-before-border {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    margin-bottom: 30px;
}

.paragraph-to-last__text:last-of-type {
    margin-bottom: 30px;
}

.paragraph-to-last__pic {
    display: block;
    margin: 0 auto 30px;
}

.paragraph-to-last__border {
    border: 1px solid #000;
    margin-bottom: 30px;
}

.paragraph-to-last__pic-2 {
    display: block;
    margin: 0 auto;
}

.paragraph-to-last__text-gray {
    padding-top: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 1020px;
    color: #5E5E5E;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

/* Для последнего элемента группы отступ всегда обнуляется */

.paragraph-reset-to-zero {
    padding-top: 25px;
    padding-bottom: 25px;
}

.paragraph-reset-to-zero__h {
    margin-bottom: 30px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.paragraph-reset-to-zero__text {
    margin-bottom: 30px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.paragraph-reset-to-zero__pic {
    display: block;
    margin: 0 auto 30px;
}

.paragraph-reset-to-zero__pic-3 {
    display: block;
    margin: 0 auto;
}

.paragraph-reset-to-zero__pic-4 {
    display: block;
    margin: 0 auto 30px;
}

/* Подытожим */

.footer {
    padding-top: 25px;
    padding-bottom: 50px;
}

.container-footer {
    width: 80%;
    margin: 0 auto;
    width: 1080px;

    border-radius: 10px;
    background-color: #F1F1F1;
}

.footer__h {
    padding-top: 25px;
    padding-left: 45px;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.footer__item {
    list-style: none;
}

.footer__item {
    margin-bottom: 10px;
    padding-left: 45px;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.footer__item:last-child {
    margin-bottom: 30px;
}

.footer__text {
    padding-left: 45px;
    padding-bottom: 25px;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

