/* navigation */

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center; 

    padding-top: 30px;
}

.navigation__pic {
   margin-right: 69px;
}

.navigation__list{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
}

.navigation__items {
    margin-right: 40px;

    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.navigation__items:last-child {
    margin-right: 97px;
}

.navigation__btn {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;

    background-color: black;
    border: 3px solid rgb(205, 6, 255);
    border-radius: 10px;
}


/* banner */

.page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    padding-top: 58px;

    width: 80%;
    margin: auto;

    width: 1040px; 
}

.header__title {
    margin: 0;

    position: relative;
    z-index: 1;

    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 150px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -15px;
}

.header__pic {
     position: relative;
    z-index: 2;
    margin-top: -70px;
    display: flex;
    flex-direction: row;

    content: " ";
    background-image: url(../img/banner.png);
    height: 762px;
    background-repeat: no-repeat;
    background-position: right;
}

.header__subtitle {
    position: absolute;
    top: 296px;
    padding-left: 100px;

    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
} 

.header__row {
    display: flex;
    flex-direction: row;
}

.header__col {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    margin-right: 43px;
    width: 193px;
    height: 209px;

    position: absolute;
    top: 376px; 
}

.header__col-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 166px; 
    height: 174px;
    margin-top: -600px;
    padding-left: 250px;

    align-self: flex-start;
    /* position: absolute; */
    /* top: 376px; 
    width: 80%;
    left: 370px; */
}

.header__p-violet {
    color: rgb(205, 6, 255);
    font-family: Arial, sans-serif;
    font-size: 100px;
    font-weight: 900;
    line-height: 141px;
    letter-spacing: 0%;
    align-self: center;


    /* position: absolute;
    display: block;
    top: 376px; */
}

.header__p-violet-2 {
    color: rgb(205, 6, 255);
    font-family: Arial, sans-serif;
    font-size: 75px;
    font-weight: 900;
    line-height: 106px;
    letter-spacing: 0%;

    /* position: absolute;
    display: block;
    top: 411px; */
}

.header__p-room,
.header__p-new
{
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: center;

    /* position: absolute; */
    top: 517px;
}

.header__btn {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;

    border-radius: 10px;
    background: rgb(108, 2, 135);

    padding: 25px 69px;
    
    position: absolute;
    top: 735px;
}

.header__btn-2 {
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    width: 97px;
    height: 97px;
    /* left: 669px; */
    top: 782px;
    z-index: 3; 
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.header__btn-2-element {
    padding-top: 45px;
}



/* we have */

.we-have {
    display: flex;
    flex-direction: column;
}

.we-have__h {
    margin-bottom: 41px;
    padding: 0 80px;
    
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.we-have__col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.we-have__pic-VR {
    content: " ";
    padding: 116px 40px 20px 40px;
    width: 306px;
    background-image: url(../img/vr.jpg);
    text-align: end;
    background-size: 100% 100%;

    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.we-have__pic-audio {
    content: " ";
    width: 306px;
    padding: 116px 40px 20px 40px;
    background-image: url(../img/audio.jpg);
    text-align: center;
    background-size: 100% 100%;

    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.we-have__pic-micro {
    content: " ";
    width: 306px;
    padding: 116px 40px 20px 40px;
    background-image: url(../img/micro.jpg);
    text-align: center;
    background-size: 100% 100%;

    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.we-have__pic-game {
    content: " ";
    width: 306px;
    padding: 116px 40px 20px 40px;
    background-image: url(../img/game.jpg);
    text-align: center;
    background-size: 100% 100%;

    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.we-have__pic-movie {
    content: " ";
    width: 306px;
    padding: 116px 40px 20px 40px;
    background-image: url(../img/netflix.jpg);
    text-align: center;
    background-size: 100% 100%;

    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.we-have__pic-ps {
    content: " ";
    width: 306px;
    padding: 116px 40px 20px 40px;
    background-image: url(../img/sony.jpg);
    text-align: center;
    background-size: 100% 100%;

    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}




